.sec3 {
    background: linear-gradient(
        to right top,
        rgb(208, 249, 255),
        rgb(94, 236, 255)
    );
    min-height: 100vh;
    background-size: 100%;
}
.trent-slider{
/*     position: absolute; */
    top: 5%;
}
.trent-slider img {
    background-position: center;
    height: 75%;
    border-radius: 25px;
    box-shadow: 0 1px 40px -10px #000;
    
}
@media screen and (min-width: 650px) {
    .trent-slider img {
        background-size: cover;
    }
}


