/* 背景 */
.sec4 {
    background: linear-gradient(to right top, #ffe0cc, #ff9f60);
    min-height: 100vh;
    background-size: 100%;
}

/* 主体部分 */
#section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4_main_box {
    width: 1200px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    backdrop-filter: blur(0.2rem);
}
/* ------------------------------------- */
#sec4_app {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec4_title {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 60, 141);
    margin-top: 50px;
}
.sec4_search {
    width: 500px;
    height: 40px;
    margin: 50px auto 0;
    border: 1px solid rgba(204, 204, 204, 0.5);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
@media screen and (max-width: 650px) {
    .sec4_search{
        width: 300px;
        height: 40px;
    }
    
}
.sec4_input {
    flex: 8;
    padding-left: 10px;
}
.sec4_button {
    flex: 2;
    background-color: rgb(255, 60, 141);
    color: #fff;
    font-size: 20px;
}
@media screen and (max-width: 650px) {
    .sec4_select{
        width: 380px;
        margin: 10px auto;
    }
    .sec4_select a{
        align-items: center;
        font-size: 16px;
    }
     .sec4_select a:nth-child(1){
        display: none;
     }
     .sec4_select a:nth-child(5){
        display: none;
     }
}
.sec4_select {
    display: flex;
    width: 500px;
    margin: 20px auto 0;
    text-align: center;
}
.sec4_select a {
    flex: 1;
    font-size: 18px;
}
.sec4_select a:hover {
    color: rgb(255, 60, 141);
}
.sec4_ul {
    width: 100%;
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.sec4_li {
    flex: 1;
    background-color: rgba(204, 204, 204, 0.2);
    border-radius: 20px;
    margin: 0 5px;
}
.sec4_weather .tianqi {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 143, 38);
    margin-top: 30px;
}
.sec4_weather .qiwen {
    font-size: 20px;
    color: skyblue;
    margin-top: 20px;
}
.sec4_weather .date {
    font-size: 16px;
    color: tomato;
    margin: 10px 0;
}




:root {
    --color: #B9DEFF;
    --sunColor: #FFCA22;
    --downColor: rgba(18, 117, 204, 1);
    --downColor2: rgba(18, 117, 204, 0.2);
    --start: #81C5F8;
    --end: #1181DF;
  }
          .box {
    display: inline-block;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    box-sizing: border-box;
    position: relative;
    left: 30.5rem;
  }
  .cloud {
    width: 60px;
    height: 60px;
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    color: var(--color);
    box-shadow: 0 0 0 6px,
      -35px 11px 0px -5px,
      33px 15px 0px -9px;
    z-index: 1;
  }
  .cloud::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 6px;
    background: var(--color);
    bottom: -6px;
    left: -6px;
  }
  .sunShower .sun {
    margin: -32px 16px;
  }
  .sun {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--sunColor);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    color: var(--sunColor);
    box-shadow: 0 0 0 6px;
    animation: spin 12s infinite linear;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .rays {
    position: absolute;
    width: 6px;
    height: 18px;
    background-color: var(--sunColor);
    top: -32px;
    left: 50%;
    margin-left: -3px;
    border-radius: 4px;
    box-shadow: 0px 86px;
  }
  .rays::before,
  .rays::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 18px;
    background-color: var(--sunColor);
    transform: rotate(60deg);
    transform-origin: 3px 52px;
    box-shadow: 0px 86px;
    border-radius: 4px;
  }
  .rays::after {
    transform: rotate(120deg);
  }
