/* 功能区快 */
.function8{
    min-height: 100vh;
    /* background-image: linear-gradient(to right bottom ,#47e791 ,rgba(160, 81, 100, 0.4) ,#f589); */
    box-sizing: border-box;
    background-color: #dfe8f2;
    /* position: relative; */
    padding: 10px 10px;
    margin-top: 88px;
    margin-left: 190px;
}

/* 表 */
.gyshwtab{
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,.5);
    width: 600px;
    padding: 5px;
    position: fixed;
    
}
#container1 {
    max-width: 800px;
    height: 115px;
    /* margin: 1em auto; */
}
#container2 {
    max-width: 800px;
    height: 85px;
    margin: 1em auto;
}
#container3{
    max-width: 800px;
    height: 85px;
}
.hc-cat-title {
    font-size: 13px;
    font-weight: bold;
}

.gyshwtabs{
    position: fixed;
}

.gyshwtabs #container {
    width: 420px;
    height: 320px;
    top: 5px;
    position: fixed;
    left: 630px;
    border-radius: 5px;
}