@font-face {
    font-family: 'iconfont';  /* Project id 3429987 */
    src: url('//at.alicdn.com/t/font_3429987_niq0ooajghg.woff2?t=1654492314941') format('woff2'),
         url('//at.alicdn.com/t/font_3429987_niq0ooajghg.woff?t=1654492314941') format('woff'),
         url('//at.alicdn.com/t/font_3429987_niq0ooajghg.ttf?t=1654492314941') format('truetype');
}
.iconfont{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right bottom ,#47e791 ,rgba(160, 81, 100, 0.4) ,#f589);
}
li{
    list-style: none;
}
#subbar{
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: darkgrey;
}
#subbar img{
    width: 200px;
    height: 200px;
    margin: 0px auto;
}
.action{
    color: rgb(0, 0, 0);
}
.action div{
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid black;
}
.action div .active{
    background-color: black;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.action div svg{
    font-size: 33px;
    margin-right: 12px;
    
}
.action div:hover{
    background-color: dimgrey;
}
#menubar{
    min-height: 100vh;
    background: #e0e3e8;
    box-sizing: border-box;
    padding: 12px 12px;
    margin-left: 200px;
}
.project{
    overflow: hidden;
    /* 清除浮动 */
}
.project li{
    position: relative;
    margin: 0 10px 20px;
    font-size: 17px;
    float: left;
    /* 浮动 */
    width: 130px;
    height: 122px;
    border-radius: 6px;
    border: 3px solid rgb(153, 151, 151);
    background-color: rgb(194, 192, 188);
}
.project li div{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}
.icon{
    justify-content: center;
    flex-direction: column;
}
.icon .iconfont{
    font-size: 70px;
    margin-bottom: 10px;
    color: darkorange;
}
.icon .name{
    color: beige;
}
.project .eidt{
    justify-content: space-around;
    /* 分散居中对齐 */ 
    background: rgba(0,0,0,.9);
    transform: translateY(-125px);
}
.eidt .iconfont{
    color: #b9c6dd;
    font-size: 35px;
    cursor: pointer;
}
.eidt .iconfont:hover{
    color: darkorange;
}
.project li:hover .eidt{
    transform: translateY(0px);
    transition: .4s;
    cursor: pointer;
}
li .add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(120, 112, 112);
    font-size: 110px;
    cursor: pointer;
}
.add span:hover{
    color: darkorange;
}
.add:hover{
    background: gray;
}






