#food{
    position: fixed;
    top:42px;
    right: 20px;
    bottom: 20px;
    left: 220px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .2);
    padding: 10px;
    overflow: hidden;
}
a{
    color: #fefefe;
    cursor: pointer;
}
.orderbox{
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
}
.orderbox li{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 3px rgba(255, 255, 255, 0.3);
    margin-bottom: 40px;
    padding: 14px;
}
tr td img{
    width: 60px;
    height: 60px;
    border-radius: 3px;
}
.orderbox table{
    width: 99%;
}
.orderbox td{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 0;
    text-align: center;
}
.orderbox td:nth-child(1){
    width: 5%;
}
.orderbox td:nth-child(6){
    width: 20%;
    /* 多出来的备注不换行变省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.orderbox button{
    width: 25px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    vertical-align: middle;
}
.orderbox button:hover{
    color: darkorange;
    transform: scale(1.1);
}
.orderbox span{
    font-size: 14px;
    background: transparent;
}
.orderbox button.select input{
    width: 90%;
    height: 90%;
    background: none;
    font-size: 20px;
}
.orderbox button.select{
    border: none;
}
.orderbox .itxt{
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 25px;
    line-height: 25px;
    background: none;
    display: inline-block;
    /* 行内快级元素 */
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
}
/* 点击后的外边框 */
.orderbox .itxt:focus{
    outline-color: rgb(227, 224, 224);
}
.orderbox td:nth-child(4){
    font-size: 0;
}
.orderbox .remove .iconfont{
    font-size: 21px;
    cursor: pointer;
}
.orderbox .remove .iconfont:hover{
    color: #ff8400;
    transform: scale(1.1);
}
.orderbox .foot{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 0;
}
/* 全选按钮 */
.foot .maxcheck{

    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    vertical-align: middle;
}
.orderbox .foot span{
    margin-left: 30px;
}
.orderbox .foot strong{
    color: darkorange;
    font-size: 18px;
}
/* 人数 */
.foot .footipt{
    border: none;
    width: 30px;
    height: 25px;
    line-height: 25px;
    background: none;
    display: inline-block;
    /* 行内快级元素 */
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
    text-align: center;
}
/* 人数点击后的外边框 */
.orderbox .footipt:focus{
    outline-color: rgb(227, 224, 224);
}
.foot .caisum em{
    font-style:normal;
    color: #ff8400;
    font-size: 17px;
}

.orderbox .add{
    margin-left: 10px;
    width: 45px;
    height: 30px;
    background-color: indianred;
    border-radius: 5px;
}
.orderbox .pay{
    margin-left: 5px;
    width: 48px;
    height: 33px;
    background-color: lime;
    border-radius: 5px;                                                                                                                                                                                                             
}
.orderbox .empty{
    margin-left: 5px;
    width: 48px;
    height: 33px;
    background-color: deepskyblue;
    border-radius: 5px; 
}
.orderbox .empty:hover{
    color: #fefefe;
}

/* 添菜按钮 */
.modal{
    display: none;
    position: fixed;
    /* 固定定位 */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:first{
    color: black;
    text-decoration: none;
  
}

/* 下单按钮 */
.mcdal{
    display: none;
    position: fixed;
    /* 固定定位 */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}
.mcdal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    cursor: pointer;
    height: 50%;
    
}
.close{
    color: #aaa;
    float: right;
    font-weight: bold;
    cursor: pointer;;
}
.modal-content .tczf{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.tczf .tczfbtn{
    width: 80px;
    height: 40px;
    font-size: 17px;
    border-radius: 15px;
    line-height: -40px;
    padding: 10px;
    background-color: lawngreen;
}
.tczf .tcqxbtn{
    width: 80px;
    height: 40px;
    font-size: 17px;
    border-radius: 15px;
    line-height: -40px;
    padding: 10px;
    background-color: deepskyblue;
}





