
.switch-box{
    position: relative;
}
[type=checkbox] {
    width: 180px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    margin: 0;
    cursor: pointer;
}

.switch{
    width: 180px;
    height: 90px;
    border-radius: 45px;
    background-color: bisque;
    display: flex;
    padding: 6px;
    align-items: center;
    transition: back 0.3 ease;
}
.switch::before{
    content: "";
    width: 81px;
    height: 81px;
    border-radius: 80px;
    background-color: #fff;
    background-image: url("./img/R-C-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: 60px auto;
    transition: all 0.3 ease;
    margin-left: 0;
    box-shadow: 2px 2px 10px 2px #000;
}
[type=chenkbox]:checked + .switch{
    background-color: #000;
}
[type=chenkbox]:checked + .switch::before{
    margin-left: 88px;
    background-color:#313131;
    background-image: url("./img/OIP-C-removebg-preview.png");
    box-shadow: 2px 2px 10px #000 2px;
}
.switch.circle-screw::before{
    width: 98px;
}
[type=chenkbox]:checked + .switch.switch.circle-screw::before{
    width: 88px;
    margin-left: 72px;
}